asterisk {
  font-weight: bold;
}

label .frontpage {
  font-size: 12px;
}

input[type=text], input[type=email] {
  padding: 10px;
	width: 40%;
	margin: 10px 0px;
	background-color: #eee;
	border: 0px;
	border-bottom: 2px solid #bbb;
	color: #aaaaaa;
 }
 
 input[type=email]:hover, input[type=text]:hover {
	background: #fff;
}

input[type=reset], input[type=submit], input .button {
	padding: 10px;
	background: #eee;
	color: #aaa;
	border: 1px solid #404040;
}

.submit-allocation:hover, input[type=reset]:hover, input[type=submit]:hover, input .button:hover {
	background-color: #fff;
}
